//HEADER--------------------------------------------
.header {
  box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
  padding: 0px 10px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 721px;
    height: 100%;
    background: linear-gradient(90deg, rgba(76, 157, 179, 1) 0%, rgba(63, 192, 192, 1) 35%, rgba(49, 225, 207, 1) 100%);
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
    z-index: -1;
    @media (max-width: 768px) {
      width: 421px;
    }
    @media (max-width: 604px) {
      display: none;
    }
  }
  &__inner {
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
    a {
      font-size: 21px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.12px;
      display: inline-block;
      transition: all 0.6s ease 0s;
      @media (max-width: 769px) {
        transition: all 0.2s ease 0s;
      }
      &:hover {
        opacity: 0.3;
      }
    }
    @media (max-width: 992px) {
      padding: 25px 0px;
      a {
        font-size: 17px;
        line-height: 20px;
      }
    }
    @media (max-width: 480px) {
      justify-content: center;
    }
  }

  &__auth {
    display: flex;
    align-items: center;
    margin: 0px -20px;
    @media (max-width: 992px) {
      margin: 0px -10px;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__login {
    margin: 0px 20px;
    @media (max-width: 992px) {
      margin: 0px 10px;
    }
  }

  &__register {
    margin: 0px 20px;
    @media (max-width: 992px) {
      margin: 0px 10px;
    }
  }
}
.header-navigation {
  display: flex;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  &__hamburger {
    display: none;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
    position: absolute;
    z-index: 10;
    flex-direction: column;
    justify-content: space-between;
    height: 28px;
    width: 37px;
    cursor: pointer;
    transition: all 0.8s ease 0s;
    &.active {
      .header-navigation__hamburger-line {
        &:nth-child(1) {
          transform: translateY(12px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-13px) rotate(-45deg);
        }
      }
    }
    @media (max-width: 768px) {
      display: flex;
    }
    @media (max-width: 480px) {
      right: auto;
      left: 10px;
    }
  }

  &__hamburger-line {
    transition: all 0.4s ease 0s;
    width: 37px;
    height: 3px;
    background-color: #2cd3b8;
    &:nth-child(2) {
      top: 12px;
    }
    &:nth-child(3) {
      top: 24px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    a {
      margin: 0px 12px;
    }
    @media (max-width: 768px) {
      padding: 20px 0px 0px 0px;
      position: fixed;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 2, 0.65);
      top: 0;
      left: 0;
      flex-direction: column;
      transform: scale(0);
      transition: all 0.6s ease 0s;
      visibility: hidden;
      height: 0;
      a {
        font-size: 24px;
        color: #fff;
      }
      li {
        margin: 20px 0px;
      }
      &.active {
        height: 100%;
        transform: scale(1);
        visibility: visible;
      }
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
    img {
      max-width: 120px;
      height: 30px;
      @media (max-width: 768px) {
        max-width: 200px;
        height: 40px;
      }
    }
    @media (min-width: 480px) and (max-width: 768px) {
      margin: 0px 0px 0px -30%;
    }
  }
}
